[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=54.225.2.20
Environment=CATALOGUE_HOST=54.90.125.123
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target